<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                                http://www.springframework.org/schema/beans/spring-beans.xsd
                                http://www.springframework.org/schema/context
                                http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:annotation-config/>-->

    <bean class="com.ya.spring3.bean.Cat"/>
    <bean class="com.ya.spring3.bean.Cow"/>
    <bean class="com.ya.spring3.bean.Dog"/>
<!--    <bean class="com.ya.spring3.bpp.GetListOfAnnotatedMethodsBeanPostProcessor"/>-->
</beans>